{% extends "app/base.html" %}

{% block content %}
	<h1 class="text-center"> Users </h1>
	  <div class="col-lg-12">
	      <div class="table-responsive">
	          <table class="table table-bordered table-hover table-striped tablesorter">
	              <thead>
	              <tr>
	                <th class="header"> Username <i class="icon-sort"></i></th>
	                <th class="header"> Admin <i class="icon-sort"></i></th>
	                <th class="header"> Updated <i class="icon-sort"></i></th>
	                {% if admin %}
	               		<th class="header"></th>
	                  	<th class="header"></th>
	                {% endif %}
	              </tr>
	          </thead>
	          <tbody>
	          
	          {% for key in data %}
	              <tr>
	                <td><a href="{% url 'read_user' key.id %}">{{ key.username }}</a></td>
	                <td>{{ key.admin }}</td>
	                <td>{{ key.updated }}</td>
	                {% if admin %}
		                <td><a href="{% url 'toggle_admin' key.id %}">Toggle Admin</a></td>
		                <td><a href="{% url 'delete_user' key.id %}">Delete</a></td>
		            {% endif %}
	              </tr>
	          {% endfor %}
	          </tbody>
	          </table>
	      </div>
	    </div>
{% endblock %}